<ul class="flex w-full flex-wrap justify-around gap-5">     
    <!-- <li class="min-w-fit basis-[30%] bg-slate-600 grow p-5 rounded-lg" *ngFor="let item of tagHistory">List Item {{item}}</li>
     -->
     <app-gif-component class="w-24 basis-[30%] bg-slate-600 grow p-5 rounded-lg" [individualGif]="gif" *ngFor="let gif of gifs"></app-gif-component>
     
     <!-- <img class="w-24 basis-[30%] bg-slate-600 grow p-5 rounded-lg" [src]="item.images.original.url" *ngFor="let item of gifs" alt=""> -->
</ul>